<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		* {
			padding: 0;
			margin: 0;
		}
		header {
			background-color: #121d33;
			display: flex;
			padding: 10px;
			justify-content: space-evenly;
		}

		button {
			background-color: #0c6cf2;
			color: #fff;
			width: 200px;
			height: 50px;
			margin-top: 10px;
			border-radius: 6px;
			font-size: 15px;
		}

		header img {
			width: 100px;
			height: 100px;
			border-radius: 50px;
		}
		.logo_content {
		}
		.menu {
			list-style-type: none;
			display: flex;
			align-items: center;
		}

		.menu li {
			padding: 10px 15px;
		}

		.menu li a{
			color: #fff;
			text-decoration: none;
			font-size: 20px;
		}
		.search-box {
			padding: 15px 20px;
			display: flex;
			justify-content: center;
		}
		#search-form {
			flex-basis: 1200px;
		}

		input[type="text"] {
			width: 80%;
			padding: 12px 20px;
			margin: 8px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}

		input[type=submit] {
			width: 19%;
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}

		table {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 80%;
		}

		table td, table th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		table tr:nth-child(even){background-color: #f2f2f2;}

		table tr:hover {background-color: #ddd;}

		table th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: center;
			background-color: #4CAF50;
			color: white;
		}
		.detail {
			display: flex;
			justify-content: center;
			width: 90%;
			margin: 0 auto;
		}
		#right {
			margin-left: 10px;
		}
		.center {
			margin: 30px auto;
		}

		body {
        	position: relative;
        	min-height: 100%;
        	padding-bottom: 700px;
    	}

		footer {
			background-color: #333;
    		width: 100%;
    		position: absolute;
    		left: 0;
    		bottom: 0;
    		box-sizing: border-box;
		}

		footer > div {
			display: flex;
			justify-content: space-around;
			color: #fff;
		}

		.about-us {
			display: flex;
			flex-direction: column;
			margin-top: 15px;
		}

		.contact {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
		}
		#pr {
			color: #f84609;
			width: 80%;
			margin: 40px auto;
			font-size: 20px;
		}

	</style>
</head>
<body>
	<div class="container-none">
		<header>
			<div class="logo_content"><img src="/logo.png"></div>
			<ul class="menu">
				<li><a href="/">Trang Chủ</a></li>
				<li><a href="/chain">Chuỗi Khối</a></li>
				<li><a href="/charity">Từ Thiện</a></li>
				<li><a href="/user">Cá Nhân</a></li>
			</ul>
			<div class="logout">
				<a href="#"><button>Đăng Xuất</button></a>
			</div>
		</header>

		<div class="content">
			<table class="center">
				<thead>
					<tr>
						<th colspan="2">Thông Tin Khối</th>
					</tr>
					<tr>
						<td>Thời Gian Tạo</td>
						<td> <%= block.timestamp%> </td>
					</tr>
					<tr>
						<td>Mã Băm</td>
						<td> <%= block.hash%> </td>
					</tr>
					<tr>
						<td>Chiều Cao (Nonce)</td>
						<td> <%= block.nonce%> </td>
					</tr>
				</thead>
			</table>

			<div class="detail">
				<table id="left">
					<thead>
						<tr>
							<th colspan="2">Người Gửi</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Địa Chỉ - public key</td>
							<td> ...<%= block.transactions[0].fromAdress.substr(-32)%> </td>
						</tr>
						<tr>
							<td>Chủ Tài Khoản</td>
							<td> <%= block.transactions[0].creditOwner%> </td>
						</tr>
						<tr>
							<td>Số Tài Khoản</td>
							<td> <%= block.transactions[0].creditNumber%> </td>
						</tr>
						<tr>
							<td>Ngân Hàng</td>
							<td> <%= block.transactions[0].bank%> </td>
						</tr>
						<tr>
							<td>Số Tiền Gửi</td>
							<td> <%= block.transactions[0].amount%> </td>
						</tr>
					</tbody>
				</table>

				<table id="right">
					<thead>
						<tr>
							<th colspan="2">Người Nhận</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Địa Chỉ - public key</td>
							<td> ...<%= block.transactions[0].toAdress.substr(-32)%> </td>
						</tr>
						<tr>
							<td>Tổ Chức Nhận</td>
							<td> <%= block.transactions[0].receiveOwner%> </td>
						</tr>
						<tr>
							<td>Số Tài Khoản</td>
							<td> <%= block.transactions[0].charityCredit%> </td>
						</tr>
						<tr>
							<td>Ngân Hàng</td>
							<td> <%= block.transactions[0].CharityBank%> </td>
						</tr>
						<tr>
							<td>Số Tiền Nhận</td>
							<td> <%= block.transactions[0].amount%> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<footer>
			<div>
				<div class="about-us">
					<h4>Đội Ngũ Kỹ Thuật</h4>
					<span>Nguyễn Ngọc Công Hoan - email: hoannc0102@gmail.com</span>
					<span>Nguyễn Như Anh Tuấn - email: anhtuan98@gmail.com</span>
					<span>Nguyễn Chí Tạo - email: chitao5799@gmail.com</span>
				</div>

				<div class="contact">
					<h4>Liên Hệ</h4>
					<span>Địa Chỉ: 96B Định Công</span>
					<span>Khoa Công Nghệ Thông Tin - Đại Học Mở Hà Nội</span>
					<span>hotline: 0333.73.73.73</span>
				</div>
			</div>
			<div id="pr">SẢN PHẨM CỦA SINH VIÊN KHOA CÔNG NGHỆ THÔNG TIN - ĐẠI HỌC MỞ HÀ NỘI</div>
		</footer>
	</div>
</body>
</html>

