<!DOCTYPE html>
<html>
<head>
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>home</title>
	<script src="blockchain.js"></script>
	<style type="text/css">
		.info {
			border: 1px solid #333;
			padding: 5px;
			margin-top: 15px;
			margin-left: 16px;
			margin-bottom: 15px;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function() {
			
			let blockChain
			var socket = io("http://localhost:3000")

			// socket.on('SERVER_SEND_TRANS_TO_USER', function(chain) {
			// 	if($('tbody tr').length < chain.length - 1) {
			// 		console.log('SERVER_SEND_TRANS_TO_USER');
			// 		chain[chain.length - 1].transactions.forEach(function(tran) {
			// 		})
			// 	}

			// })

		})
	</script>	
</head>
<body>
	<%- include('menuLogined'); -%>
	<div class="container">
		<div class="row">
			<div class="col-md-4 info">
				<label>Thông tin cá nhân</label><br>
				<span>tài khoản:&nbsp <%= user %></span><br>
				<span>số tiền đã từ thiện:&nbsp <%= user.money %></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<button id="btnCharity">
					<a href="/charity">Bắt đầu từ thiện</a>
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<th>ngày</th>
						<th>từ</th>
						<th>Số Tài Khoản</th>
						<th>tới</th>
						<th>số tiền</th>					
					</thead>
					<tbody>


					</tbody>

				</table>
					<script type="text/javascript">
						<%
							if(locals.privateChain) {
						 		for(i = 1; i < privateChain.length; i++) {
						 			privateChain[i].transactions.forEach(function(tran) { %> 
						 				var body = '<tr><td>'+'<%= privateChain[i].timestamp %>' +'</td><td>' + '<%= tran.creditOwner %>' + '<%= tran.creditNumber %>' + 
						 			 	+"</td><td>" + '<%= tran.receiveOwner %>' +  '</td><td>' + '<%= tran.amount %>' + '</td></tr>'
						 				$('tbody').html(body)								
										
						<% })} %>
					</script>
			</div>
		</div>
	</div>
</body>
</html>

